* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;

    img {
        margin-left: 10px;
        width: 50px;
    }

    h1 {
        margin-right: 20px;
    }
}

.middle {
    margin: 70px auto auto auto;
    width: 700px;
}

/*create-post*/
.create-post {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 30px;
}

.create-post h1 {
    margin: 0 0 10px 0;
}

.create-post input {
    width: 93%;
    background-color: rgb(164, 164, 164);
    border: 0;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    outline: none;
}

.create-post textarea {
    width: 93%;
    margin-top: 10px;
    resize: none;
    background-color: rgb(164, 164, 164);
    border: 0;
    border-radius: 25px;
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    outline: none;
}

.create-post button {
    width: fit-content;
    margin-top: 10px;
    margin-left: 5px;
    background-color: green;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: black;
    font-size: 1.1rem;
}

/*post-container*/
.post-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
}

.post {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-top: 20px;

    p {
        font-size: 0.7rem;
        margin-top: 10px;
    }

    .title {
        font-size: 1.2rem;
        margin-right: 10px;
        padding: 5px 15px 5px 10px;
        transform: translate(-10px, 0);
    }

    .content {
        font-size: 1rem;
        word-wrap: break-word;
        font-weight: 430;
        margin-right: 10px;
        padding: 5px 15px 5px 10px;
        transform: translate(-10px, 0);
    }

    .buttons button {
        width: fit-content;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        padding: 10px;
        color: white;
    }
}

.menu-box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 100px;
}

input,
textarea {
    font-family: inherit;
}

.editMode {
    background-color: rgb(164, 164, 164);
    border-radius: 25px;
}

.hidden {
    display: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}